$black: #222831;
$grey: #30475e;
$white: #e8e8e8;
$red: #f05454;

$darkPrimary: #512DA8;
$lightPrimary: #D1C4E9;
$primary: #673AB7;
$text: #FFF;
$accent: #cddc39;
$primaryText: #212121;
$secondaryText: #757575;
$divider: #BDBDBD;