$black: #222831;
$grey: #30475e;
$white: #e8e8e8;
$red: #f05454;

$darkPrimary: #232125;
$lightPrimary: #332f35;
$primary: #746b79;
$text: #FFF;
$accent: #cddc39;
$primaryText: #ccc;
$secondaryText: #757575;
$divider: #BDBDBD;