@import "properties.scss";
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

$black: #222831;
$grey: #30475e;
$white: #e8e8e8;
$red: #f05454;

$darkPrimary: #232125;
$lightPrimary: #332f35;
$primary: #746b79;
$text: #FFF;
$accent: #cddc39;
$primaryText: #ccc;
$secondaryText: #757575;
$divider: #BDBDBD;

body, html {
    margin: 0;
    padding: 0
}

body {
    background: $darkPrimary;
    color: $primaryText;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Play", sans-serif;
    text-align: center;
    min-width: fit-content;
}

#drawingPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pixels {
margin-bottom: 2rem;
}

@import "properties.scss";

#editor {
    border: 1px solid $accent;
    border-radius: 0.25rem;
    padding: 1rem 4rem 2rem 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightPrimary;

    h1 {
        margin-bottom: 1.5rem;
    }

    h2 {
        margin-bottom: 1rem;
    }

    #options {
        display: flex;
        margin-bottom: 3rem;
        justify-content: center;

        .option {
            display: flex;
            flex-direction: column;
        }

        .panelInput {
            height: 5rem;
            width: 5rem;
            font-size: 2rem;
            text-align: center;
            background-color: $primary;
            color: $text;
            border: 1px solid $grey;
            border-radius: 0.25rem;
            margin: 0 1rem 0.5rem 1rem;
            padding-left: 1rem;

            &:focus {
                outline: none !important;
                border-color: $primary;
                box-shadow: 0 0 0.5rem $secondaryText;
            }
        }
    }

    .button {
        font-size: 1.25rem;
        background-color: $accent;
        color: $darkPrimary;
        padding: 1rem 3rem;
        border-radius: 0.25rem;
        text-transform: uppercase;
        border: 1px solid transparent;
        transition: background-color 0.2s ease-in-out;
        margin-bottom: 2rem;
        margin-top: 2rem;

        &:hover {
            cursor: pointer;
            background-color: transparent;
            border-color: $accent;
        color: $primaryText;

        }
    }

    .circle-picer {
        margin-bottom: 1.5rem !important;
    }

    .toolButton {
        background-color: $accent;
        color: $darkPrimary;
    }
}

#optionPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

#editorPanel {
    display: flex;
    
}

#drawingCanvas {

    border: 2px solid $accent;
    background-color: $primary;
    min-width: 50rem;
    min-height: 50rem;
    padding: 7rem 2rem;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.toolChange {
    margin: 3rem 2rem;
    background-color: $accent;
    color: $darkPrimary;
    &:hover {
        cursor: pointer;
        background-color: transparent;
        border-color: $accent;
    color: $primaryText;

    }
    
}

.pixel {
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
        cursor: pointer;
    }
}

.row {
    display: flex;
    width: fit-content;
}

.mainBody {
    display: flex;
    margin-top: 2rem;
    

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demoImage {
    width: 70%;
    margin: 5rem;

}

.icon {
    margin: 2rem;
}

.externalLinks {
    display: flex;
    flex-direction: row;

}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}